<!--<h1>Artist Events</h1>-->
<%= form_tag '/home/fetch_events', method: :get, remote: true do %>
  <%= label_tag 'Artist' %>
  <%= select_tag 'artist', options_from_collection_for_select(Artist.all, 'name', 'name') %>
  <br/>
  <br/>
  <%= label_tag 'Event Date' %>
  <%= select_tag 'event_date', options_for_select(Event.all.map {|event| [event.event_date.strftime('%b %d, %Y'), event.event_date]}) %>
  <br/>
  <br/>
  <%= submit_tag 'Fetch Events' %>
<%- end %>

<br/>
<span>Event Url: </span>
<span id="event-url"></span>
